
<div class="topmargin">
    Hi <%= @current_player.name %>, here are your dice:
    <ul class="dice">
    <%= for dice <- @current_player.dice do %>
        <li class="dice d<%= dice %>">
            <%= for dots <- 1..dice do %>
                <span class="dot"></span>
            <% end %>
        </li>
    <% end %>
</ul>
</div>
