// Phoenix overrides
.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    padding: 0 1.5rem;
}

// Dudo styles

div.topmargin {
    height: 20rem;
    line-height: 20rem;
}

div.invitation-link {
    line-height: 3.2rem;
    padding-top: 6rem;
}

div.new-game {
    line-height: 3.2rem;
    padding-top: 1rem;
}

div.login input[type="text"] {
    width: 30rem;
    display: block;
}

div.welcome input[type="text"] {
    display: inline;
    width: 9.5rem;
    margin-right: 1.2rem;
}

li.player {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 70rem;
}

li.player.current {
    border: 2px solid black;
    border-radius: 10px;
}

div.player-name {
    vertical-align: middle;
    text-align: right;
    height: 7rem;
    line-height: 7rem;
    min-width: 15rem;
}

div.player-name img.blindfold {
    height: 3rem;
    width: 3rem;
    vertical-align: middle;
    margin-left: 3rem;
    margin-top: 1.8rem;
    float: left;
    clear: left;
}

div.player-name .shim {
    height: 3.2rem;
}

div.dice-and-buttons {
    margin-left: 3rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

ul.dice {
    overflow: hidden;
    margin-left: 0;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

div.buttons form {
    display: inline;
    margin-right: 1rem;
}

li.dice {
    float: left;
    margin-right: 1.6rem;
    padding: .4rem;
    background-color: #e7e7e7;
    width: 5.2rem;
    height: 5.2rem;
    object-fit: contain;
    box-shadow: inset 0 2px white, inset 0 -2px #bbb, inset 2px 0 #d7d7d7, inset -2px 0 #d7d7d7;
    border-radius: 10%;
    display: grid;
    grid-template-areas:
        "a . c"
        "e g f"
        "d . b";
}

span.dot {
    display: block;
    align-self:center;
    justify-self:center;
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
    background-color: #333;
    box-shadow: inset 0 .3rem #111, inset 0 -.3rem #555;
}

span.dot:nth-child(2) {
    grid-area: b;
}
span.dot:nth-child(3) {
    grid-area: c;
}
span.dot:nth-child(4) {
    grid-area: d;
}
span.dot:nth-child(5) {
    grid-area: e;
}
span.dot:nth-child(6) {
    grid-area: f;
}
span.dot:nth-child(odd):last-child {
    grid-area: g;
}

.shake, .shake-slow  {
    display: inherit;
    transform-origin: center center; 
    animation-play-state: running; 
}

.shake-freeze {
    animation-play-state: paused; 
}

.shake-freeze:hover,
.shake-trigger:hover .shake-freeze, .shake:hover,
.shake-trigger:hover .shake, .shake-little:hover,
.shake-trigger:hover .shake-little, .shake-slow:hover,
.shake-trigger:hover .shake-slow, .shake-hard:hover,
.shake-trigger:hover .shake-hard, .shake-horizontal:hover,
.shake-trigger:hover .shake-horizontal, .shake-vertical:hover,
.shake-trigger:hover .shake-vertical, .shake-rotate:hover,
.shake-trigger:hover .shake-rotate, .shake-opacity:hover,
.shake-trigger:hover .shake-opacity, .shake-crazy:hover,
.shake-trigger:hover .shake-crazy, .shake-chunk:hover,
.shake-trigger:hover .shake-chunk {
    animation-play-state: running; 
}

@keyframes shake {
2% {
  transform: translate(0.5px, -0.5px) rotate(0.5deg); }
4% {
  transform: translate(2.5px, 1.5px) rotate(1.5deg); }
6% {
  transform: translate(2.5px, 0.5px) rotate(0.5deg); }
8% {
  transform: translate(0.5px, -0.5px) rotate(0.5deg); }
10% {
  transform: translate(-0.5px, -1.5px) rotate(1.5deg); }
12% {
  transform: translate(-0.5px, 0.5px) rotate(1.5deg); }
14% {
  transform: translate(-1.5px, 1.5px) rotate(1.5deg); }
16% {
  transform: translate(2.5px, 1.5px) rotate(1.5deg); }
18% {
  transform: translate(0.5px, -0.5px) rotate(-0.5deg); }
20% {
  transform: translate(0.5px, 1.5px) rotate(0.5deg); }
22% {
  transform: translate(2.5px, -0.5px) rotate(0.5deg); }
24% {
  transform: translate(-0.5px, 0.5px) rotate(1.5deg); }
26% {
  transform: translate(-1.5px, 0.5px) rotate(1.5deg); }
28% {
  transform: translate(0.5px, 0.5px) rotate(-0.5deg); }
30% {
  transform: translate(1.5px, 1.5px) rotate(1.5deg); }
32% {
  transform: translate(0.5px, 0.5px) rotate(0.5deg); }
34% {
  transform: translate(1.5px, -1.5px) rotate(-0.5deg); }
36% {
  transform: translate(1.5px, 2.5px) rotate(1.5deg); }
38% {
  transform: translate(-1.5px, 0.5px) rotate(-0.5deg); }
40% {
  transform: translate(0.5px, -0.5px) rotate(1.5deg); }
42% {
  transform: translate(2.5px, -1.5px) rotate(-0.5deg); }
44% {
  transform: translate(-1.5px, -1.5px) rotate(0.5deg); }
46% {
  transform: translate(1.5px, 0.5px) rotate(0.5deg); }
48% {
  transform: translate(0.5px, -0.5px) rotate(-0.5deg); }
50% {
  transform: translate(0.5px, 1.5px) rotate(0.5deg); }
52% {
  transform: translate(0.5px, -0.5px) rotate(0.5deg); }
54% {
  transform: translate(2.5px, 0.5px) rotate(1.5deg); }
56% {
  transform: translate(-1.5px, -1.5px) rotate(0.5deg); }
58% {
  transform: translate(-1.5px, -0.5px) rotate(-0.5deg); }
60% {
  transform: translate(0.5px, -1.5px) rotate(0.5deg); }
62% {
  transform: translate(1.5px, 1.5px) rotate(0.5deg); }
64% {
  transform: translate(0.5px, 2.5px) rotate(0.5deg); }
66% {
  transform: translate(0.5px, 0.5px) rotate(1.5deg); }
68% {
  transform: translate(-1.5px, 2.5px) rotate(0.5deg); }
70% {
  transform: translate(-1.5px, 1.5px) rotate(1.5deg); }
72% {
  transform: translate(-0.5px, 2.5px) rotate(1.5deg); }
74% {
  transform: translate(1.5px, 2.5px) rotate(-0.5deg); }
76% {
  transform: translate(-0.5px, 0.5px) rotate(1.5deg); }
78% {
  transform: translate(1.5px, -1.5px) rotate(0.5deg); }
80% {
  transform: translate(-0.5px, 2.5px) rotate(0.5deg); }
82% {
  transform: translate(-1.5px, -1.5px) rotate(1.5deg); }
84% {
  transform: translate(1.5px, 1.5px) rotate(0.5deg); }
86% {
  transform: translate(0.5px, -0.5px) rotate(-0.5deg); }
88% {
  transform: translate(-1.5px, 2.5px) rotate(-0.5deg); }
90% {
  transform: translate(1.5px, 0.5px) rotate(0.5deg); }
92% {
  transform: translate(0.5px, -1.5px) rotate(0.5deg); }
94% {
  transform: translate(0.5px, -1.5px) rotate(1.5deg); }
96% {
  transform: translate(0.5px, 1.5px) rotate(-0.5deg); }
98% {
  transform: translate(-0.5px, -0.5px) rotate(0.5deg); }
0%, 100% {
  transform: translate(0, 0) rotate(0); }
}

.shake {
    animation-name: shake;
    animation-duration: 100ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; 
}


@keyframes shake-slow {
2% { transform: translate(6px, -2px) rotate(3.5deg); }
4% { transform: translate(5px, 8px) rotate(-0.5deg); }
6% { transform: translate(6px, -3px) rotate(-2.5deg); }
8% { transform: translate(4px, -2px) rotate(1.5deg); }
10% { transform: translate(-6px, 8px) rotate(-1.5deg); }
12% { transform: translate(-5px, 5px) rotate(1.5deg); }
14% { transform: translate(4px, 10px) rotate(3.5deg); }
16% { transform: translate(0px, 4px) rotate(1.5deg); }
18% { transform: translate(-1px, -6px) rotate(-0.5deg); }
20% { transform: translate(6px, -9px) rotate(2.5deg); }
22% { transform: translate(1px, -5px) rotate(-1.5deg); }
24% { transform: translate(-9px, 6px) rotate(-0.5deg); }
26% { transform: translate(8px, -2px) rotate(-1.5deg); }
28% { transform: translate(2px, -3px) rotate(-2.5deg); }
30% { transform: translate(9px, -7px) rotate(-0.5deg); }
32% { transform: translate(8px, -6px) rotate(-2.5deg); }
34% { transform: translate(-5px, 1px) rotate(3.5deg); }
36% { transform: translate(0px, -5px) rotate(2.5deg); }
38% { transform: translate(2px, 7px) rotate(-1.5deg); }
40% { transform: translate(6px, 3px) rotate(-1.5deg); }
42% { transform: translate(1px, -5px) rotate(-1.5deg); }
44% { transform: translate(10px, -4px) rotate(-0.5deg); }
46% { transform: translate(-2px, 2px) rotate(3.5deg); }
48% { transform: translate(3px, 4px) rotate(-0.5deg); }
50% { transform: translate(8px, 1px) rotate(-1.5deg); }
52% { transform: translate(7px, 4px) rotate(-1.5deg); }
54% { transform: translate(10px, 8px) rotate(-1.5deg); }
56% { transform: translate(-3px, 0px) rotate(-0.5deg); }
58% { transform: translate(0px, -1px) rotate(1.5deg); }
60% { transform: translate(6px, 9px) rotate(-1.5deg); }
62% { transform: translate(-9px, 8px) rotate(0.5deg); }
64% { transform: translate(-6px, 10px) rotate(0.5deg); }
66% { transform: translate(7px, 0px) rotate(0.5deg); }
68% { transform: translate(3px, 8px) rotate(-0.5deg); }
70% { transform: translate(-2px, -9px) rotate(1.5deg); }
72% { transform: translate(-6px, 2px) rotate(1.5deg); }
74% { transform: translate(-2px, 10px) rotate(-1.5deg); }
76% { transform: translate(2px, 8px) rotate(2.5deg); }
78% { transform: translate(6px, -2px) rotate(-0.5deg); }
80% { transform: translate(6px, 8px) rotate(0.5deg); }
82% { transform: translate(10px, 9px) rotate(3.5deg); }
84% { transform: translate(-3px, -1px) rotate(3.5deg); }
86% { transform: translate(1px, 8px) rotate(-2.5deg); }
88% { transform: translate(-5px, -9px) rotate(2.5deg); }
90% { transform: translate(2px, 8px) rotate(0.5deg); }
92% { transform: translate(0px, -1px) rotate(1.5deg); }
94% { transform: translate(-8px, -1px) rotate(0.5deg); }
96% { transform: translate(-3px, 8px) rotate(-1.5deg); }
98% { transform: translate(4px, 8px) rotate(0.5deg); }
0%, 100% { transform: translate(0, 0) rotate(0); }
}

.shake-slow {
    animation-name: shake-slow;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; 
}

@keyframes shake-slow-2 {
2%  { transform: translate(3px, 4px) rotate(-0.5deg); }
4%  { transform: translate(1px, 8px) rotate(-2.5deg); }
6%  { transform: translate(9px, -7px) rotate(-0.5deg); }
8%  { transform: translate(-5px, 1px) rotate(3.5deg); }
10% { transform: translate(-5px, -9px) rotate(2.5deg); }
12% { transform: translate(-3px, 8px) rotate(-1.5deg); }
14% { transform: translate(7px, 4px) rotate(-1.5deg); }
16% { transform: translate(-8px, -1px) rotate(0.5deg); }
18% { transform: translate(0px, -1px) rotate(1.5deg); }
20% { transform: translate(0px, -1px) rotate(1.5deg); }
22% { transform: translate(10px, -4px) rotate(-0.5deg); }
24% { transform: translate(-2px, 10px) rotate(-1.5deg); }
26% { transform: translate(6px, 9px) rotate(-1.5deg); }
28% { transform: translate(4px, -2px) rotate(1.5deg); }
30% { transform: translate(0px, 4px) rotate(1.5deg); }
32% { transform: translate(-3px, -1px) rotate(3.5deg); }
34% { transform: translate(7px, 0px) rotate(0.5deg); }
36% { transform: translate(8px, -6px) rotate(-2.5deg); }
38% { transform: translate(-6px, 10px) rotate(0.5deg); }
40% { transform: translate(-9px, 8px) rotate(0.5deg); }
42% { transform: translate(1px, -5px) rotate(-1.5deg); }
44% { transform: translate(0px, -5px) rotate(2.5deg); }
46% { transform: translate(-6px, 2px) rotate(1.5deg); }
48% { transform: translate(2px, 8px) rotate(0.5deg); }
50% { transform: translate(2px, -3px) rotate(-2.5deg); }
52% { transform: translate(6px, 3px) rotate(-1.5deg); }
54% { transform: translate(-1px, -6px) rotate(-0.5deg); }
56% { transform: translate(-2px, -9px) rotate(1.5deg); }
58% { transform: translate(1px, -5px) rotate(-1.5deg); }
60% { transform: translate(2px, 7px) rotate(-1.5deg); }
62% { transform: translate(5px, 8px) rotate(-0.5deg); }
64% { transform: translate(-3px, 0px) rotate(-0.5deg); }
66% { transform: translate(8px, 1px) rotate(-1.5deg); }
68% { transform: translate(-5px, 5px) rotate(1.5deg); }
70% { transform: translate(6px, 8px) rotate(0.5deg); }
72% { transform: translate(6px, -9px) rotate(2.5deg); }
74% { transform: translate(2px, 8px) rotate(2.5deg); }
76% { transform: translate(10px, 8px) rotate(-1.5deg); }
78% { transform: translate(-6px, 8px) rotate(-1.5deg); }
80% { transform: translate(10px, 9px) rotate(3.5deg); }
82% { transform: translate(-9px, 6px) rotate(-0.5deg); }
84% { transform: translate(6px, -3px) rotate(-2.5deg); }
86% { transform: translate(3px, 8px) rotate(-0.5deg); }
88% { transform: translate(8px, -2px) rotate(-1.5deg); }
90% { transform: translate(6px, -2px) rotate(-0.5deg); }
92% { transform: translate(4px, 8px) rotate(0.5deg); }
94% { transform: translate(-2px, 2px) rotate(3.5deg); }
96% { transform: translate(6px, -2px) rotate(3.5deg); }
98% { transform: translate(4px, 10px) rotate(3.5deg); }
0%, 100% { transform: translate(0, 0) rotate(0); }
}

.shake-slow-2 {
    animation-name: shake-slow-2;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes shake-slow-3 {
2%  { transform: translate(10px, -4px) rotate(-0.5deg); }
4%  { transform: translate(1px, 8px) rotate(-2.5deg); }
6%  { transform: translate(2px, 8px) rotate(0.5deg); }
8%  { transform: translate(-3px, 8px) rotate(-1.5deg); }
10% { transform: translate(10px, 8px) rotate(-1.5deg); }
12% { transform: translate(1px, -5px) rotate(-1.5deg); }
14% { transform: translate(1px, -5px) rotate(-1.5deg); }
16% { transform: translate(10px, 9px) rotate(3.5deg); }
18% { transform: translate(4px, 10px) rotate(3.5deg); }
20% { transform: translate(0px, -5px) rotate(2.5deg); }
22% { transform: translate(-9px, 8px) rotate(0.5deg); }
24% { transform: translate(3px, 4px) rotate(-0.5deg); }
26% { transform: translate(-3px, 0px) rotate(-0.5deg); }
28% { transform: translate(0px, 4px) rotate(1.5deg); }
30% { transform: translate(-5px, 5px) rotate(1.5deg); }
32% { transform: translate(5px, 8px) rotate(-0.5deg); }
34% { transform: translate(6px, -3px) rotate(-2.5deg); }
36% { transform: translate(-5px, 1px) rotate(3.5deg); }
38% { transform: translate(2px, -3px) rotate(-2.5deg); }
40% { transform: translate(9px, -7px) rotate(-0.5deg); }
42% { transform: translate(6px, -2px) rotate(3.5deg); }
44% { transform: translate(4px, -2px) rotate(1.5deg); }
46% { transform: translate(-2px, -9px) rotate(1.5deg); }
48% { transform: translate(8px, -2px) rotate(-1.5deg); }
50% { transform: translate(0px, -1px) rotate(1.5deg); }
52% { transform: translate(-1px, -6px) rotate(-0.5deg); }
54% { transform: translate(-9px, 6px) rotate(-0.5deg); }
56% { transform: translate(3px, 8px) rotate(-0.5deg); }
58% { transform: translate(-2px, 10px) rotate(-1.5deg); }
60% { transform: translate(6px, -9px) rotate(2.5deg); }
62% { transform: translate(6px, 9px) rotate(-1.5deg); }
64% { transform: translate(7px, 4px) rotate(-1.5deg); }
66% { transform: translate(-5px, -9px) rotate(2.5deg); }
68% { transform: translate(8px, 1px) rotate(-1.5deg); }
70% { transform: translate(-8px, -1px) rotate(0.5deg); }
72% { transform: translate(7px, 0px) rotate(0.5deg); }
74% { transform: translate(4px, 8px) rotate(0.5deg); }
76% { transform: translate(-6px, 8px) rotate(-1.5deg); }
78% { transform: translate(6px, -2px) rotate(-0.5deg); }
80% { transform: translate(-6px, 2px) rotate(1.5deg); }
82% { transform: translate(6px, 3px) rotate(-1.5deg); }
84% { transform: translate(2px, 8px) rotate(2.5deg); }
86% { transform: translate(2px, 7px) rotate(-1.5deg); }
88% { transform: translate(6px, 8px) rotate(0.5deg); }
90% { transform: translate(-6px, 10px) rotate(0.5deg); }
92% { transform: translate(-3px, -1px) rotate(3.5deg); }
94% { transform: translate(0px, -1px) rotate(1.5deg); }
96% { transform: translate(-2px, 2px) rotate(3.5deg); }
98% { transform: translate(8px, -6px) rotate(-2.5deg); }
0%, 100% { transform: translate(0, 0) rotate(0); }
}

.shake-slow-3 {
    animation-name: shake-slow-3;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}





















































