// Phoenix overrides
.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    padding: 0 1.5rem;
}


// Dudo styles

div.topmargin {
    height: 20rem;
    line-height: 20rem;
}

div.invitation-link {
    line-height: 3.2rem;
    padding-top: 6rem;
}

div.new-game {
    line-height: 3.2rem;
    padding-top: 1rem;
}

div.login input[type="text"] {
    width: 30rem;
    display: block;
}

div.welcome input[type="text"] {
    display: inline;
    width: 9.5rem;
    margin-right: 1.2rem;
}

li.player {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 70rem;
}

li.player.current {
    border: 2px solid black;
    border-radius: 10px;
}

div.player-name {
    vertical-align: middle;
    text-align: right;
    height: 7rem;
    line-height: 7rem;
    min-width: 15rem;
}

div.player-name img.blindfold {
    height: 3rem;
    width: 3rem;
    vertical-align: middle;
    margin-left: 3rem;
    margin-top: 1.8rem;
    float: left;
    clear: left;
}

div.player-name .shim {
    height: 3.2rem;
}

div.dice-and-buttons {
    margin-left: 3rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

ul.dice {
    overflow: hidden;
    margin-left: 0;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

div.buttons form {
    display: inline;
    margin-right: 1rem;
}

li.dice {
    float: left;
    margin-right: 1.6rem;
    padding: .4rem;
    background-color: #e7e7e7;
    width: 5.2rem;
    height: 5.2rem;
    object-fit: contain;
    box-shadow: inset 0 2px white, inset 0 -2px #bbb, inset 2px 0 #d7d7d7, inset -2px 0 #d7d7d7;
    border-radius: 10%;
    display: grid;
    grid-template-areas:
        "a . c"
        "e g f"
        "d . b";
}

span.dot {
    display: block;
    align-self:center;
    justify-self:center;
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
    background-color: #333;
    box-shadow: inset 0 .3rem #111, inset 0 -.3rem #555;
}

span.dot:nth-child(2) {
    grid-area: b;
}
span.dot:nth-child(3) {
    grid-area: c;
}
span.dot:nth-child(4) {
    grid-area: d;
}
span.dot:nth-child(5) {
    grid-area: e;
}
span.dot:nth-child(6) {
    grid-area: f;
}
span.dot:nth-child(odd):last-child {
    grid-area: g;
}
